<p id="notice"><%= notice %></p>

<p>
  Thank you<%= @contact.name %>!
</p>

<p>
  We will be contacting you at <%= @contact.email %>
</p>

<p>
  Expect a phone call by <%= @t.strftime("%d, %m, %Y") %> at <%= @contact.phone %>
</p>

<%= link_to 'Go Home', root_path %>
