<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>
<p>
  <%= image_tag @post.image.url(:thumb) %>
</p>
<p>
  <%= @post.body %>
</p>
<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
<div class="post-links">
<%= link_to '', posts_path, :class => 'icon-reply' %> |
<%= link_to '', root_path, :class => 'icon-home' %> |
<%= link_to '', edit_post_path(@post), :class => 'icon-pencil' %> |
<%= link_to '', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove' %>
</div>
