<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet"       href="http://i.icomoon.io/public/temp/fda3764647/UntitledProject1/style.css">
  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/fda3764647/UntitledProject1/style.css">
</head>
<body>
  <head>
    <nav class='nav'>
      <%= image_tag('BlogMore2.jpg', size: '250x150') %>
      <div class='ahome'>
        <%= link_to 'Home', static_home_path %>
      </div>
      <div class='aabout'>
        <%= link_to 'About', static_about_path %>
      </div>
      <div class='ablogs'>
        <%= link_to 'Blogs', posts_path %>
      </div>
      <div class='acontacts'>
        <%= link_to 'Contacts', new_contact_path %>
      </div>
    </nav>
  </head>
  <div class='container'>
    <%= yield %>
  </div>
</body>
<div id='footer'>
  <footer>
    copyright &copy; <%= Time.now.year %>
  </footer>
</div>

</html>
